# Consumer
PVE_API_TOKEN=
# PVE_API_TOKEN_NAME=your-token-name
PVE_API_TOKEN_NAME=
# PVE_API_TOKEN_USER=user@authentication-method
PVE_API_TOKEN_USER=
# PVE_API_URL=https://pve.example.com/api2/json
PVE_API_URL=
# PVE_NODES=node1,node2,node3
PVE_NODES=

RABBITMQ_URL=
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE=
RABBITMQ_ROUTING_KEY=