NODE_ENV=
LOG_LEVEL=
LOG_TARGET=
OTEL_COLLECTOR_URL=
OTEL_SERVICE_NAME=

DATABASE_URL=
RABBITMQ_URL=
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE=
RABBITMQ_ROUTING_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PORT=

API_URL=
FRONTEND_BASE_URL=
